{% extends 'layout.html' %}

{% block body_content %}
    <h1>Gamelogger!!!!!!</h1>

    {% for addgame in games %}
        <div>
        <!--<h3>{{ addgame.title }}</h3> -->
        <p><b>Game: {{ addgame.game }}</b></p>
        <p>Platform: {{ addgame.platform }}</p>
        <p>Score: {{ addgame.score }}</p>
        <p>Finished: {{ addgame.finished }}</p>
        <td>
            {% if current_user.is_authenticated == True %}
                <form action="{{ url_for('updategame', update=addgame.id) }}">
                    <button type="submit">Update</button>
                </form>
            {% endif %}
        </td>
        </tr>
            {% if current_user.is_authenticated == True %}
                <form action="{{ url_for('deletegame', delete=addgame.id) }}">
                    <button type="submit">Delete</button>
                </form>
            {% endif %}
        </td>
        </tr>

    {% endfor %}
</table>
</div>
{% endblock %}